-- Profiles
create table public.profiles (
  id uuid references auth.users on delete cascade not null primary key,
  name text,
  avatar_url text,
  role text default 'user' check (role in ('user', 'admin')),
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Categories
create table public.categories (
  id uuid default gen_random_uuid() primary key,
  name text not null unique,
  icon text,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Products
create table public.products (
  id uuid default gen_random_uuid() primary key,
  seller_id uuid references public.profiles(id) on delete cascade not null,
  category_id uuid references public.categories(id) on delete restrict not null,
  title text not null,
  description text not null,
  price numeric not null check (price >= 0),
  condition text not null,
  brand text,
  location text not null,
  is_negotiable boolean default false,
  defects text,
  completeness text,
  usage_duration text,
  status text default 'active' check (status in ('active', 'sold', 'archived')),
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Product Images
create table public.product_images (
  id uuid default gen_random_uuid() primary key,
  product_id uuid references public.products(id) on delete cascade not null,
  image_url text not null,
  is_primary boolean default false,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Wishlists
create table public.wishlists (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references public.profiles(id) on delete cascade not null,
  product_id uuid references public.products(id) on delete cascade not null,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  unique(user_id, product_id)
);

-- Trigger for auth.users to public.profiles
create or replace function public.handle_new_user()
returns trigger as $$
begin
  insert into public.profiles (id, name, avatar_url)
  values (new.id, new.raw_user_meta_data->>'name', new.raw_user_meta_data->>'avatar_url');
  return new;
end;
$$ language plpgsql security definer;

create trigger on_auth_user_created
  after insert on auth.users
  for each row execute procedure public.handle_new_user();

-- Enable RLS
alter table public.profiles enable row level security;
alter table public.categories enable row level security;
alter table public.products enable row level security;
alter table public.product_images enable row level security;
alter table public.wishlists enable row level security;

-- RLS Policies

-- Profiles: Anyone can read, users can update their own
create policy "Public profiles are viewable by everyone" on public.profiles for select using (true);
create policy "Users can update own profile" on public.profiles for update using (auth.uid() = id);

-- Categories: Anyone can read, only admins can insert/update (for now just read is needed for discovery)
create policy "Categories are viewable by everyone" on public.categories for select using (true);

-- Products: Anyone can read active products, sellers can CRUD their own
create policy "Active products are viewable by everyone" on public.products for select using (status = 'active');
create policy "Sellers can view all their products" on public.products for select using (auth.uid() = seller_id);
create policy "Sellers can insert their products" on public.products for insert with check (auth.uid() = seller_id);
create policy "Sellers can update their products" on public.products for update using (auth.uid() = seller_id);
create policy "Sellers can delete their products" on public.products for delete using (auth.uid() = seller_id);

-- Product Images: Anyone can read if product is active (simplified: anyone can read)
create policy "Product images are viewable by everyone" on public.product_images for select using (true);
create policy "Sellers can manage product images" on public.product_images for all using (
  auth.uid() in (select seller_id from public.products where id = product_id)
);

-- Wishlists: Users can CRUD their own
create policy "Users can view own wishlists" on public.wishlists for select using (auth.uid() = user_id);
create policy "Users can insert own wishlists" on public.wishlists for insert with check (auth.uid() = user_id);
create policy "Users can delete own wishlists" on public.wishlists for delete using (auth.uid() = user_id);
-- Phase 3A: User Profile Extensibility

-- 1. Add fields to profiles
alter table public.profiles
  add column if not exists username text unique,
  add column if not exists phone text,
  add column if not exists location text,
  add column if not exists bio text,
  add column if not exists updated_at timestamp with time zone default timezone('utc'::text, now());

-- 2. Create updated_at trigger function
create or replace function public.handle_updated_at()
returns trigger as $$
begin
  new.updated_at = now();
  return new;
end;
$$ language plpgsql;

-- 3. Apply trigger to profiles
create trigger set_profiles_updated_at
  before update on public.profiles
  for each row
  execute procedure public.handle_updated_at();

-- 4. Add insert policy for profiles
-- (Needed if auth.users trigger fails or if client ensures profile manually)
create policy "Users can insert own profile" on public.profiles for insert with check (auth.uid() = id);
-- Phase 3B: Seller Product Management & Storage

-- 1. Add fields to products
alter table public.products
  add column if not exists updated_at timestamp with time zone default timezone('utc'::text, now()),
  add column if not exists sold_at timestamp with time zone;

-- 2. Create updated_at trigger function for products
create or replace function public.handle_products_updated_at()
returns trigger as $$
begin
  new.updated_at = now();
  return new;
end;
$$ language plpgsql;

-- 3. Apply trigger to products
create trigger set_products_updated_at
  before update on public.products
  for each row
  execute procedure public.handle_products_updated_at();

-- 4. Create product-images storage bucket
insert into storage.buckets (id, name, public) 
values ('product-images', 'product-images', true)
on conflict (id) do nothing;

-- 5. Storage RLS Policies for product-images
-- Anyone can view the images
create policy "Product images are publicly accessible"
  on storage.objects for select
  using ( bucket_id = 'product-images' );

-- Users can upload images to their own folder (folder path is {uid}/...)
create policy "Sellers can upload product images"
  on storage.objects for insert
  with check ( 
    bucket_id = 'product-images' and
    auth.uid()::text = (storage.foldername(name))[1]
  );

-- Users can update/delete their own images
create policy "Sellers can update own product images"
  on storage.objects for update
  using ( 
    bucket_id = 'product-images' and
    auth.uid()::text = (storage.foldername(name))[1]
  );

create policy "Sellers can delete own product images"
  on storage.objects for delete
  using ( 
    bucket_id = 'product-images' and
    auth.uid()::text = (storage.foldername(name))[1]
  );
-- Create offers table
create table public.offers (
  id uuid primary key default gen_random_uuid(),
  product_id uuid not null references public.products(id) on delete cascade,
  buyer_id uuid not null references public.profiles(id) on delete cascade,
  seller_id uuid not null references public.profiles(id) on delete cascade,
  offer_price numeric not null check (offer_price > 0),
  message text,
  status text not null default 'pending' check (status in ('pending', 'accepted', 'rejected', 'cancelled')),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

-- Trigger for updated_at
create trigger handle_offers_updated_at
  before update on public.offers
  for each row
  execute function public.handle_updated_at();

-- Enable RLS
alter table public.offers enable row level security;

-- RLS Policies

-- 1. Buyer can insert for themselves, but not for their own products
create policy "Buyers can insert their own offers"
  on public.offers for insert
  with check (
    auth.uid() = buyer_id 
    and auth.uid() != seller_id
    and status = 'pending'
  );

-- 2. Buyer can view their own sent offers
create policy "Buyers can view their sent offers"
  on public.offers for select
  using (auth.uid() = buyer_id);

-- 3. Seller can view offers received for their products
create policy "Sellers can view received offers"
  on public.offers for select
  using (auth.uid() = seller_id);

-- 4. Buyer can cancel their own pending offers
create policy "Buyers can update their own pending offers (cancel)"
  on public.offers for update
  using (auth.uid() = buyer_id and status = 'pending')
  with check (status = 'cancelled');

-- 5. Seller can accept or reject pending offers
create policy "Sellers can update pending offers (accept/reject)"
  on public.offers for update
  using (auth.uid() = seller_id and status = 'pending')
  with check (status in ('accepted', 'rejected'));
-- Create conversations table
CREATE TABLE public.conversations (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    product_id UUID REFERENCES public.products(id) ON DELETE CASCADE NOT NULL,
    buyer_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    seller_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    offer_id UUID REFERENCES public.offers(id) ON DELETE SET NULL,
    last_message TEXT,
    last_message_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
    updated_at TIMESTAMPTZ DEFAULT now() NOT NULL,
    UNIQUE(product_id, buyer_id, seller_id)
);

-- Create messages table
CREATE TABLE public.messages (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    conversation_id UUID REFERENCES public.conversations(id) ON DELETE CASCADE NOT NULL,
    sender_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    receiver_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

-- Enable RLS
ALTER TABLE public.conversations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

-- Setup updated_at trigger for conversations
CREATE TRIGGER handle_updated_at BEFORE UPDATE ON public.conversations 
  FOR EACH ROW EXECUTE FUNCTION public.handle_updated_at();

-- Policies for conversations
-- Users can view conversations if they are buyer or seller
CREATE POLICY "Users can view their own conversations" 
ON public.conversations FOR SELECT 
USING (auth.uid() = buyer_id OR auth.uid() = seller_id);

-- Users can insert conversations if they are participants
CREATE POLICY "Users can insert conversations" 
ON public.conversations FOR INSERT 
WITH CHECK (auth.uid() = buyer_id OR auth.uid() = seller_id);

-- Only allow update if participant (for last message trigger)
CREATE POLICY "Users can update their conversations" 
ON public.conversations FOR UPDATE 
USING (auth.uid() = buyer_id OR auth.uid() = seller_id);

-- Policies for messages
-- Users can view messages of their conversations
CREATE POLICY "Users can view messages of their conversations" 
ON public.messages FOR SELECT 
USING (
  EXISTS (
    SELECT 1 FROM public.conversations c 
    WHERE c.id = conversation_id 
    AND (c.buyer_id = auth.uid() OR c.seller_id = auth.uid())
  )
);

-- Users can insert messages if they are the sender and part of the conversation
CREATE POLICY "Users can insert messages" 
ON public.messages FOR INSERT 
WITH CHECK (
  auth.uid() = sender_id AND
  EXISTS (
    SELECT 1 FROM public.conversations c 
    WHERE c.id = conversation_id 
    AND (c.buyer_id = auth.uid() OR c.seller_id = auth.uid())
    AND (c.buyer_id = receiver_id OR c.seller_id = receiver_id)
  )
);

-- Function to update conversation last_message on new message
CREATE OR REPLACE FUNCTION update_conversation_last_message()
RETURNS TRIGGER AS $$
BEGIN
  UPDATE public.conversations
  SET last_message = NEW.message,
      last_message_at = NEW.created_at,
      updated_at = now()
  WHERE id = NEW.conversation_id;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_message_created
  AFTER INSERT ON public.messages
  FOR EACH ROW EXECUTE PROCEDURE update_conversation_last_message();
-- Add phone and address to profiles
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS phone TEXT;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS address TEXT;

-- Create orders table
CREATE TABLE public.orders (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    offer_id UUID REFERENCES public.offers(id) ON DELETE SET NULL,
    product_id UUID REFERENCES public.products(id) ON DELETE CASCADE NOT NULL,
    buyer_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    seller_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    total_price DECIMAL(12, 2) NOT NULL,
    shipping_address TEXT NOT NULL,
    shipping_phone TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'pending_payment' CHECK (status IN ('pending_payment', 'paid', 'shipped', 'completed', 'cancelled')),
    created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
    updated_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

-- Trigger for updated_at
CREATE TRIGGER handle_orders_updated_at 
    BEFORE UPDATE ON public.orders 
    FOR EACH ROW EXECUTE FUNCTION public.handle_updated_at();

-- Trigger to update product status to sold when order is created
CREATE OR REPLACE FUNCTION update_product_status_on_order()
RETURNS TRIGGER AS $$
BEGIN
    UPDATE public.products
    SET status = 'sold', updated_at = now()
    WHERE id = NEW.product_id;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_order_created
    AFTER INSERT ON public.orders
    FOR EACH ROW EXECUTE PROCEDURE update_product_status_on_order();

-- Enable RLS
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;

-- RLS Policies for orders
-- Users can view their own orders (as buyer or seller)
CREATE POLICY "Users can view their own orders" 
ON public.orders FOR SELECT 
USING (auth.uid() = buyer_id OR auth.uid() = seller_id);

-- Buyer can insert an order for themselves
CREATE POLICY "Buyers can insert orders" 
ON public.orders FOR INSERT 
WITH CHECK (auth.uid() = buyer_id);

-- Users can update their own orders (buyer/seller)
CREATE POLICY "Users can update their own orders" 
ON public.orders FOR UPDATE 
USING (auth.uid() = buyer_id OR auth.uid() = seller_id);
-- Allow users to update is_read status for messages they receive
CREATE POLICY "Users can update their received messages" 
ON public.messages FOR UPDATE 
USING (auth.uid() = receiver_id);
-- Drop the existing trigger and function
DROP TRIGGER IF EXISTS on_order_created ON public.orders;
DROP FUNCTION IF EXISTS public.update_product_status_on_order();

-- Alter products status check constraint to include 'reserved'
ALTER TABLE public.products DROP CONSTRAINT IF EXISTS products_status_check;
ALTER TABLE public.products ADD CONSTRAINT products_status_check CHECK (status IN ('active', 'reserved', 'sold', 'archived'));

-- Make sure an offer can only be checked out once
ALTER TABLE public.orders ADD CONSTRAINT unique_offer_order UNIQUE (offer_id);

-- New Trigger 1: When an order is created, product becomes 'reserved'
CREATE OR REPLACE FUNCTION set_product_reserved_on_order()
RETURNS TRIGGER AS $$
BEGIN
    UPDATE public.products
    SET status = 'reserved', updated_at = now()
    WHERE id = NEW.product_id;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_order_created
    AFTER INSERT ON public.orders
    FOR EACH ROW EXECUTE PROCEDURE set_product_reserved_on_order();

-- New Trigger 2: Handle order status updates (completed -> sold, cancelled -> active if reserved)
CREATE OR REPLACE FUNCTION handle_order_status_update()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.status = 'completed' AND OLD.status != 'completed' THEN
        UPDATE public.products
        SET status = 'sold', updated_at = now()
        WHERE id = NEW.product_id;
    ELSIF NEW.status = 'cancelled' AND OLD.status != 'cancelled' THEN
        -- Only restore to active if it was reserved by this order. 
        -- If it was already sold (somehow), we might not want to revert it automatically, 
        -- but typically cancelled orders means it should go back to active.
        -- We just update it if it's currently reserved.
        UPDATE public.products
        SET status = 'active', updated_at = now()
        WHERE id = NEW.product_id AND status = 'reserved';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_order_updated
    AFTER UPDATE OF status ON public.orders
    FOR EACH ROW EXECUTE PROCEDURE handle_order_status_update();
-- Create reviews table
CREATE TABLE public.reviews (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    order_id uuid REFERENCES public.orders(id) ON DELETE CASCADE NOT NULL,
    product_id uuid REFERENCES public.products(id) ON DELETE CASCADE NOT NULL,
    reviewer_id uuid REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    reviewed_user_id uuid REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    rating integer NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment text,
    created_at timestamptz DEFAULT now() NOT NULL,
    updated_at timestamptz DEFAULT now() NOT NULL,
    CONSTRAINT unique_order_reviewer UNIQUE (order_id, reviewer_id)
);

-- Trigger for updated_at
CREATE TRIGGER on_review_updated
    BEFORE UPDATE ON public.reviews
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- Enable RLS
ALTER TABLE public.reviews ENABLE ROW LEVEL SECURITY;

-- Policy: Anyone can read reviews
CREATE POLICY "Public read access for reviews"
ON public.reviews FOR SELECT
USING (true);

-- Policy: Buyer can insert review for completed order
CREATE POLICY "Buyers can insert review for completed order"
ON public.reviews FOR INSERT
WITH CHECK (
    auth.uid() = reviewer_id AND
    EXISTS (
        SELECT 1 FROM public.orders
        WHERE orders.id = order_id
        AND orders.buyer_id = auth.uid()
        AND orders.status = 'completed'
        AND orders.product_id = product_id
        AND orders.seller_id = reviewed_user_id
    )
);

-- Policy: Reviewer can update their own review
CREATE POLICY "Users can update their own review"
ON public.reviews FOR UPDATE
USING (auth.uid() = reviewer_id);
-- Create reports table
CREATE TABLE public.reports (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    reporter_id uuid REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    target_type text NOT NULL CHECK (target_type IN ('product', 'user', 'review')),
    target_id uuid NOT NULL,
    reason text NOT NULL CHECK (reason IN ('fraud', 'fake_product', 'prohibited_item', 'inappropriate_content', 'spam', 'harassment', 'other')),
    description text,
    status text NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'reviewed', 'resolved', 'rejected')),
    created_at timestamptz DEFAULT now() NOT NULL,
    updated_at timestamptz DEFAULT now() NOT NULL,
    resolved_at timestamptz,
    CONSTRAINT unique_reporter_target UNIQUE (reporter_id, target_type, target_id)
);

-- Trigger for updated_at
CREATE TRIGGER on_report_updated
    BEFORE UPDATE ON public.reports
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- Enable RLS
ALTER TABLE public.reports ENABLE ROW LEVEL SECURITY;

-- Policy: User can read their own reports
CREATE POLICY "Users can read their own reports"
ON public.reports FOR SELECT
USING (auth.uid() = reporter_id);

-- Policy: Admin can read all reports (assuming admins have role='admin' in profiles)
CREATE POLICY "Admins can read all reports"
ON public.reports FOR SELECT
USING (
    EXISTS (
        SELECT 1 FROM public.profiles 
        WHERE id = auth.uid() AND role = 'admin'
    )
);

-- Policy: User can insert report (reporter_id must be their own uid)
CREATE POLICY "Users can insert reports"
ON public.reports FOR INSERT
WITH CHECK (auth.uid() = reporter_id);

-- Note: No UPDATE or DELETE policies for normal users, so they cannot edit/delete their own reports after submission.
-- Policy: Admin can update reports
CREATE POLICY "Admins can update reports"
ON public.reports FOR UPDATE
USING (
    EXISTS (
        SELECT 1 FROM public.profiles 
        WHERE id = auth.uid() AND role = 'admin'
    )
);
-- Helper Function
CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin'
  );
END;
$$;

-- Profile Hardening
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS is_suspended boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS suspension_reason text,
ADD COLUMN IF NOT EXISTS suspended_at timestamptz;

REVOKE UPDATE ON public.profiles FROM authenticated;
GRANT UPDATE (name, avatar_url, username, phone, address, location, bio, updated_at) ON public.profiles TO authenticated;

-- Products constraint update
ALTER TABLE public.products DROP CONSTRAINT IF EXISTS products_status_check;
ALTER TABLE public.products ADD CONSTRAINT products_status_check CHECK (status in ('active', 'sold', 'archived', 'reserved', 'hidden', 'rejected'));

-- Product Admin Policy
CREATE POLICY "Admins can update all products"
ON public.products FOR UPDATE
USING (public.is_admin());

-- Reviews Update
ALTER TABLE public.reviews
ADD COLUMN IF NOT EXISTS is_hidden boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS moderation_note text,
ADD COLUMN IF NOT EXISTS moderated_at timestamptz;

CREATE POLICY "Admins can update reviews"
ON public.reviews FOR UPDATE
USING (public.is_admin());

-- Admin Audit Logs
CREATE TABLE public.admin_audit_logs (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    admin_id uuid REFERENCES public.profiles(id) ON DELETE SET NULL,
    action text NOT NULL,
    target_type text NOT NULL,
    target_id uuid,
    metadata jsonb,
    created_at timestamptz DEFAULT now() NOT NULL
);

ALTER TABLE public.admin_audit_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Admins can insert audit logs"
ON public.admin_audit_logs FOR INSERT
WITH CHECK (public.is_admin() AND auth.uid() = admin_id);

CREATE POLICY "Admins can read audit logs"
ON public.admin_audit_logs FOR SELECT
USING (public.is_admin());

-- Also update policies on public.reports to use public.is_admin() instead of inline subquery for cleanliness
DROP POLICY IF EXISTS "Admins can read all reports" ON public.reports;
CREATE POLICY "Admins can read all reports"
ON public.reports FOR SELECT
USING (public.is_admin());

DROP POLICY IF EXISTS "Admins can update reports" ON public.reports;
CREATE POLICY "Admins can update reports"
ON public.reports FOR UPDATE
USING (public.is_admin());
